# Math
numba==0.56.2
PyGLM==2.5.7        # Required for rendering as well

# Core modules
moderngl==5.7.4
glfw==2.5.5
numpy==1.21.6


# Loading models
pywavefront==1.3.3  # OBJ only
pygltflib==1.15.3   # GLTF and GLB

# Require for debugging
matplotlib==3.6.2

# UI
beautifulsoup4==4.12.2
lxml==4.9.2
freetype-py==2.3.0